#slideshow {
	display: inline;
	width: 100%;
	height: 650px;
	position: relative;
	float: left;
	background-color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}

#slide {
	top: 25px;
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

.slide_pic {
	width: 100%;
	display: none; 
}

#main {
	position: relative;
	clear: both;
	width: 1024px;
	margin: auto;
}

#header {
	width: 900px;
	margin: 11px auto 25px auto;
}

#right {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 650px;
	background: url("../img/right_bg.png");
	float: right;
}

#songtracks {
	margin-top: 100px;
}

.songtrack {
	margin: 50px auto;
	text-align: center;
}

.disc_item {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


.disc_item.playing {
	width: 150px;
	height: 170px;
}

.disc_item .disc_pic {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}

.disc_item.idle .disc_pic {
	opacity: 0.5;
}

.disc_item.playing .disc_pic {
	width: 150px;
	height: 150px;
}

.disc_item.playing .song_title {
	display: inherit;
}

.song_link {
	display: none;
}

.song_title {
	display:none; 
	color: white;
	text-align: center;
	margin-top: 3px;
	position: relative;
	font-size: 12px;
	font-size: 13px;
	font-family: arial;
}

#play_button {
	position: relative;
	left: 0px;
	top: -150px;
	margin:0 auto;
	width:150px;
	height:150px;
}

#show_playlist {
	height: 47px;
	width: 51px;
	position: relative;
	float: right;
	top: 300px;
	cursor: pointer;
	right: -10px;
	z-index: 10;
}

.logo_icon {
	height: 75%;
	width: 75%;
}

/* override styles */
.sm2-360ui {
	width: 150px;
	height: 150px;
}

.ui360 {
	margin-top: -3px!important;
}

.ui360 .sm2-360btn {
	width: 150px;
	height: 150px;
	margin-left: -75px;
	margin-top: -75px;
}

.disc_item .ui-widget-overlay{
	width: 100px; 
	height: 100px; 
	position: relative; 
	z-index: 1000; 
	overflow-x: hidden; 
	overflow-y: hidden; 
	opacity: 0.5; 
}

#thumbnails {
	padding: 20px 0;
	display: inline-block;
	position: relative;
	width: 200px;
	height: 650px;
	background: url("../img/right_bg.png");
	float: right;
}

.thumbnail {
	margin: 8px auto;
	width: 150px;
}

.thumbnail_pic {
	width: 150px;
	position: relative;
	z-index: 10;
	cursor: pointer;
}

.thumbnail_pic.idle {
	opacity: 0.5;
}

.thumbnail_pic.active {
	opacity: 1;
}

#hidePanel {
	position: absolute;
	display: inline-block;
	width: 1024px;
	height: 650px;
	overflow: hidden;
	left: 0px;
}

#overlay {
	float: right;
	display: inline-block;
	right: -397px;
	position: relative;
}

body {
	background: black;
}

